.family{
  .text-mute{
    opacity: 0;
    color: #6c757d;
    transition: opacity 0.3s;
    display: inline-block;
    transform: translate(0, -0.5em);
  }
  .errorMsg{
    color: red;
    transform: translate(0,0);
    opacity: 1;
    transition: all 0.3s ease;
  }
  #familyhiddenBtn{
    display: none;
  }
}
.plusBtn{
  color: #fff;
  font-size: 1.6rem;
  display: inline-flex;
  padding: 1rem;
  border-radius: 100%;
  line-height: 0;
  cursor: pointer;
}
.card-primary{
  .card-body{
    padding: 2em 2em 0;
  }
}

.container-btn{
  margin-top: 2em;
}
.card-body{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 0 1em;
}