$font-size-base: 10px;
$font-family: 'Poppins', sans-serif;
@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  } 
} 
* {
  // font-size: 10px;
  // background-color: #fff;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.stepper-item-inner-active, .stepper-item-inner-completed{
  background-color: #009688 !important;
}
nav{
  padding: 1em 10%;
  .brandLogo{
    width: 5em;
    
  }
}
.container-fluid{
  max-width: 120rem;
  margin: 0 auto;
  padding: 3rem 10%;
  .formHeading{
    font-size: 4rem;
    padding: 1rem 0;
    text-align: center;
  }
  .form{
    padding-top: 2em;
    .container{}
      .components{
        margin-top: 4rem;
      }
    .card{
      border: 0;
      .title{
        padding-bottom: 2rem;
        font-size: 3rem;
        text-align: center;
      }
      .sub-title{
        padding-bottom: 1rem;
        font-size: 2.4rem;
      }
      .input-container{
        padding-bottom: 1em;
        .form-label{
          margin-bottom: 0.1em;
          font-size: 1.6rem;
          font-weight: 600;
          color: #8c8a8c;
        }
        .form-control{
          height: 3em;
          box-shadow: none;
          font-size: 1.6rem;
          &:focus{
            box-shadow: none;
          }
        }
        .address{
          height: 8rem;
        }
      }
    }
    .container-btn{
      display: flex;
      gap: 2rem;
      justify-content: center;
      // .btn{
      //   &:disabled{
      //     background-color: #333;
      //     cursor: not-allowed;
      //   }
      // }
    }
  }
}
// .btn {
//   color:white;
//   text-decoration:none;
//   padding:0.5em 1em;
//   border-radius:0.4em;
//   font-family: Arial, Helvetica, sans-serif;
//   font-size:2em;
//   border: 0;
//   margin-top: 1em;
//  }
//  .btn-next {
//   @include button-bg(#3498db);
// }