.upload{
  .input-container{
    
    .form-label{
      padding-right: 1em;
    }
    .form-control{
      border: 0;
    }
    .text-mute{
      opacity: 0;
      color: #6c757d;
      transition: opacity 0.3s;
      display: inline-block;
      transform: translate(0, -0.5em);
    }
    .errorMsg{
      color: red;
      transform: translate(0,0);
      opacity: 1;
      transition: all 0.3s ease;
    }
  }
}